$primary-color: #000;
$secondary-color: #fff;
$body-font-family: "Raleway", sans-serif;
$base-font-size: 18px;
$tiny-font-size: 10px;
$small-font-size: 13px;
$big-font-size: 28px;
$huge-font-size: 58px;
$regular-font-weight: 400;
$light-font-weight: 300;
$semibold-font-weight: 600;
$bold-font-weight: 700;