@use "../abstracts/variables" as a;

#sticky-nav-con {
    // background-color: a.$secondary-color;
}

// * {
//     border: 1px solid;
// }

#main-nav button {
    width: 32px;
    height: 32px;
    background: url(../images/icon-burger.svg) no-repeat center;
    margin-top: 16px;
    transition: all .3s ease;
    margin-bottom: 20px;
    border: 0;
}

#main-nav {
    position: relative;
    // background-color: a.$secondary-color;
}

#main-nav button.expanded {
    transform: rotate(90deg);
}

#burger-con {
    margin-bottom: 20px;
    display: none;
    // background-color: a.$secundary-color;
}

#burger-con.slide-toggle {
    display: block;
    // background-color: a.$primary-color;
}

#main-nav ul {
    list-style: none;
    padding: 30px 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    background-color: a.$primary-color;
}

#main-nav ul li:hover {
    background-color: a.$secondary-color;
}

#main-nav ul li a {
    font-size: a.$base-font-size;
    font-weight: a.$regular-font-weight;
    color: a.$secondary-color;
    padding: 15px 20px;
}

#main-nav ul li a:hover {
    color: a.$primary-color;
}

nav, ul, li, a {    
    text-decoration: none;
}

#logo {
    width: 200px;
    margin: 15px 0;
    margin-inline: max(25px,50% - 290px/2);
}

@media screen and (min-width: 768px) {

    #button {
        display: none;
    }

    #sticky-nav-con {
        // background-color: a.$secondary-color;
    }

    #burger-con {
        display: block;
        font-size: 12px;
        padding-top: 60px;
        // background-color: a.$secondary-color;
    }

    #main-nav ul {
        display: flex;
        flex-direction: row;
        margin: 0 50px;
        background-color: a.$secondary-color;
        color: a.$primary-color;
    }

    #main-nav ul li a {
        color: a.$primary-color;
    }

    #main-nav ul li a:hover {
        background-color: a.$primary-color;
        color: a.$secondary-color;
    }
}